<?xml version="1.0"?>
<config>
	<modules>
		<Mamoku_Removeshipping>
			<version>0.1.0</version>
		</Mamoku_Removeshipping>
	</modules>
	<frontend>
		<routers>
			<removeshipping>
				<use>standard</use>
				<args>
					<module>Mamoku_Removeshipping</module>
					<frontName>removeshipping</frontName>
				</args>
			</removeshipping>
		</routers>
		<layout>
			<updates>
				<removeshipping>
					<file>removeshipping.xml</file>
				</removeshipping>
			</updates>
		</layout>	
	</frontend>	   
	<global>	
		<blocks>
			<removeshipping>
				<class>Mamoku_Removeshipping_Block</class>
			</removeshipping>
			<checkout>
				<rewrite>
					<onepage>Mamoku_Removeshipping_Block_Checkout_Onepage</onepage>
				</rewrite>
			</checkout>
		</blocks>
		<helpers>
			<removeshipping>
				<class>Mamoku_Removeshipping_Helper</class>
			</removeshipping>
		</helpers>
		<rewrite>
			<mamoku_removeshipping_checkout_onepage>
				<from><![CDATA[#^/checkout/onepage/#]]></from>
				<to>/removeshipping/checkout_onepage/</to>
			</mamoku_removeshipping_checkout_onepage>
		</rewrite>
	</global>
</config>